language: node_js
node_js:
  - '8'

matrix:
  include:
    - os: osx
      osx_image: xcode9.3
    - os: linux
      sudo: required
      dist: trusty
      services: docker

env:
  global:
    - secure: "m+fjrLftutYPtcRtEwMOdsv0HcRbddoJojUnEV1bkahdJA+YUeXuBwviRDlMeemh8JuFETblpiE1XNmeeIM9Ii8H+zzZPI3k/MHrfztae6cWoJqAkVvWKkft/wd4+7AQRQn5lh1FHHmwXAZV8d79wDfy5/VBWBD0EZtzjaeA7Cc6u4HnY7pfZH5fyoZ1G4WHLDnRXrh3eBZIzCad0J9JqLb3mycV/fIX15+YTOGt5pV9nJY2TS9wJhLjlnxZJaOr19gv/qJSGQAn+gul6s/XZxQGSiX8Q17CjaMpsR9gQt9Fwxi6f3dOzqIVd2VfFLaHPqXp2YyvpjSHzmdiwd9Ear6+txZgDF8JoAfyTIxiok1kEmXXjya8qSqIW/yvHzfnAmqdpvYMqxyP5+v+hdjDDLPHRfNPWevEo54YhN70/1fWjw9FL+sHqDk8sb4KUA7DahOyXNmHfGRek54TJNnLTNcB5OFrn+6q1/J5uWxF/f2qXJI9hjfgzlw1SJaM7pEzo4criTWssP5Afb4RCli40a668vULUXDKQsFMI2BHjtKZD92aHfyUQAV5FnmuLci6XZg8s1BuyBt2VdbnO8A4OeQMMmN7D+HsZiV0yi5UTlaDTiFO2ldsCuvoFjn74CuzRRWot9BJW7zwd13RYSC1bYoh5sf09Fx+oFa8c+RkMlE="
    - NAP_TIME=20000
    - ELECTRON_CACHE=$HOME/.cache/electron
    - ELECTRON_BUILDER_CACHE=$HOME/.cache/electron-builder

cache:
  directories:
  - node_modules
  - $HOME/.cache/electron
  - $HOME/.cache/electron-builder

install: echo "hi, install"

script: echo "hi, script"

deploy:
  provider: script
  script: ./assets/script/build_app.sh
  skip_cleanup: true
  on:
    repo: valentinewallace/lightning-app
    branch: activate-travis-releases
    tags: true


    # before_cache:
    #  - rm -rf $HOME/.cache/electron-builder/wine

